<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/adminltecss")
    @Scripts.Render("~/bundles/modernizr")
    <title>Error</title>
</head>
<body class="hold-transition login-page">




        <!-- Main content -->
        <section class="content login-box">
            <div class="error-page">
                <h2 class="headline text-warning"> 404</h2>

                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> La página no funciona</h3>

                    <p>
                        La página que esta buscando no funciona. Asegurese de que la URL sea correcta.
                    </p>
                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/pooper")
    @Scripts.Render("~/bundles/adminltejs")
</body>
</html>