@{
    ViewBag.Title = "Histórico Ausencias";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    @Html.Partial("_Header_Jefatrura");

    <div class="container">
        <div class="row mt-2">
            <h3 id="tituloReportes">@ViewBag.Message</h3>
        </div>


        <div class="container mt-2 row justify-content-center">
            <div class="flex-column">
                <div class="d-flex flex-wrap">
                    <div class="form-group ">
                        <label class="font-weight-normal" for="salida">Fecha salida:</label>
                        <input type="date" class="form-control form-control-sm" id="salida" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="regreso">Fecha regreso:</label>
                        <input type="date" class="form-control form-control-sm" id="regreso" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="motivo">Motivo:</label>

                        <select class="form-control form-control-sm" id="motivo" required>
                            <option>Enfermedad</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <input type="button" value="Filtrar" class="btn btn-info btn-sm">
                    <input type="button" value="Limpiar" class="btn btn-danger btn-sm">
                </div>
            </div>
        </div>




        <div class="row mt-3">
            <div class="col-12">
                <div class="d-flex justify-content-between mt-3">
                    <div class="col-6">
                        <input type="search" id="searchInput" placeholder="Buscar" class="form-control form-control-sm">
                    </div>
                    <div>
                        <input type="button" value="Reporte" class="btn btn-secondary btn-sm" onclick="exportPDF('Histórico Ausencias')" />
                    </div>
                </div>
                <table id="table" class="table table-bordered table-hover">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Cédula</th>
                            <th>Nombre</th>
                            <th>Apellido 1</th>
                            <th>Apellido 2</th>
                            <th>Motivo</th>
                            <th>Fecha salida</th>
                            <th>Fecha regreso</th>
                            
                        </tr>
                    </thead>
                    <tbody id="contenidoTabla">
                        @foreach (var item in ViewBag.ListaHistoricAusencias)
                        {
                            <tr>
                                <td>@item.empleado.TC_Identificacion</td>
                                <td>@item.empleado.TC_Nombre_Usuario</td>
                                <td>@item.empleado.TC_Primer_Apellido </td>
                                <td>@item.empleado.TC_Segundo_Apellido</td>
                                <td>@item.TC_Tipo_Ausencia</td>
                                <td>@item.TF_Fecha_Salida</td>
                                <td>@item.TF_Fecha_Regreso</td>
                               
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @Html.Partial("_Footer");



</body>
</html>







<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <form onsubmit="editarHHorario()">
                <div class="modal-header">
                    <h4 class="modal-title">Modificar Ausencia</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group ">
                        <label class="font-weight-normal" for="salida">Fecha de salida:</label>
                        <input type="date" class="form-control form-control-sm" id="salidaE" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="regreso">Fecha de regreso:</label>
                        <input type="date" class="form-control form-control-sm" id="regresoE" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="motivo">TMotivo:</label>
                        <select class="form-control form-control-sm" id="motivoE">
                            <option selected="selected">Enfermedad</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <button type="submit" class="btn btn-info">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




