
@{
    ViewBag.Title = "Ausencias de ";
}

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/moment.min.js"></script>
<script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/daterangepicker.css" />

<script type="text/javascript" src="~/Scripts/js/jspdf.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/ReportesPDF.js"></script>
<script type="text/javascript" src="~/Scripts/js/jspdf.plugin.autotable.min.js"></script>

<div class="container">
    <div class="row mt-2 flex-column">
        <h3 id="tituloReportes">@ViewBag.Title@ViewBag.Message</h3>
    </div>



    <div class="container mt-2 row justify-content-center">
        <div class="flex-column">
            <div class="d-flex flex-wrap">
                <div class="form-group ">
                    <label class="font-weight-normal" for="rangoAusencias">Rango Fechas:</label>
                    <input type="text" class="form-control form-control-sm" id="rangoAusencias" name="rango" onkeypress="return false;" required>
                    <script>
                        $('#rangoAusencias').daterangepicker({
                            locale: {
                                format: 'YYYY/MM/DD'
                            }
                        });
                        $('#rangoAusencias').val('');
                        $('#rangoAusencias').attr("placeholder", "Rango de Fechas");
                    </script>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="motivo">Motivo:</label>

                    <select class="form-control form-control-sm" id="motivo">
                        @foreach (Entidad.TipoAusencia t in ViewBag.Tipos)
                        {
                            <option value="@t.TN_Id_Tipo_Ausencia">@t.TC_Tipo_Ausencia</option>
                        }
                    </select>
                </div>
            </div>

        </div>
    </div>




    <div class="row mt-3">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <div class="col-6">
                    <input type="button" value="Filtrar" class="btn btn-info btn-sm">
                    <input type="button" value="Limpiar" class="btn btn-danger btn-sm">
                </div>
                <div>
                    <input type="button" value="Reporte" class="btn btn-secondary btn-sm" onclick="exportPDF('Ausencias @ViewBag.Message')" />
                </div>
            </div>
            <table id="table" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Motivo</th>
                        <th>Fecha salida</th>
                        <th>Fecha regreso</th>
                    </tr>
                </thead>
                <tbody id="contenidoTabla">
                    @foreach (Entidad.Ausencia a in ViewBag.Lista)
                    {
                        <tr>
                            <td>@a.TC_Tipo_Ausencia</td>
                            <td>@a.TF_Fecha_Salida</td>
                            <td>@a.TF_Fecha_Regreso</td>


                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









