@{
    ViewBag.Title = "Ausencias de ";
}




<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/daterangepicker.css" />

    @Html.Partial("_Header_Admin");

    <div class="container">
        <div class="row mt-2 flex-column">
            <h3 id="tituloReportes">@ViewBag.Title@ViewBag.Nombre</h3>

        </div>

        <div class="row justify-content-center">
            <div class="col-9 mt-2 ">
                <div class="card" style="background-color: #FAFAFA">
                    <div class="card-header">
                        <h5 class="card-tittle">Añadir nueva ausencia</h5>
                    </div>

                    <div class="card-body">
                        <form onsubmit="return InsertarAusencia(this)" autocomplete="off">
                            <div class="row justify-content-around">
                                <div class="form-group d-flex justify-content-between">
                                    <label class="font-weight-normal" for="rangoIns">Fechas Ausencia:</label>
                                    <input type="text" class="form-control form-control-sm" id="rangoAusenciasIns" name="rangoIns" onkeypress="return false;" required>
                                    <script>
                                        $('#rangoAusenciasIns').daterangepicker({
                                            locale: {
                                                format: 'YYYY/MM/DD'
                                            }
                                        });
                                        $('#rangoAusenciasIns').val('');
                                        $('#rangoAusenciasIns').attr("placeholder", "Rango de Fechas");
                                    </script>
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <label class="font-weight-normal" for="motivoIns">Motivo:</label>
                                    <select class="form-control form-control-sm" id="motivoIns" name="motivoIns">
                                        @foreach (Entidad.TipoAusencia t in ViewBag.Tipos)
                                        {
                                            <option value="@t.TN_Id_Tipo_Ausencia">@t.TC_Tipo_Ausencia</option>
                                        }

                                    </select>
                                </div>
                            </div>

                            <div class="row justify-content-center mt-2">
                                <input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>





        




        <div class="row mt-3">
            <div class="col-12">
                <div class="d-flex justify-content-between mt-3">
                    <div class="col-6">
                        <div class="container mt-2 row justify-content-center">
                            <div class="flex-column">
                                <div class="d-flex flex-wrap">
                                    <div class="form-group ">
                                        <label class="font-weight-normal" for="rango">Fechas Ausencia:</label>
                                        <input type="text" class="form-control form-control-sm" id="rangoAusencias" name="rango" onkeypress="return false;" required>
                                        <script>
                                            $('#rangoAusencias').daterangepicker({
                                                locale: {
                                                    format: 'YYYY/MM/DD'
                                                }
                                            });
                                            $('#rangoAusencias').val('');
                                            $('#rangoAusencias').attr("placeholder", "Rango de Fechas");
                                        </script>
                                    </div>

                                    <div class="form-group">
                                        <label class="font-weight-normal" for="motivo">Motivo:</label>

                                        <select class="form-control form-control-sm" id="motivo">
                                            @foreach (Entidad.TipoAusencia t in ViewBag.Tipos)
                                            {
                                                <option value="@t.TN_Id_Tipo_Ausencia">@t.TC_Tipo_Ausencia</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="button" value="Filtrar" class="btn btn-info btn-sm">
                        <input type="button" value="Limpiar" class="btn btn-danger btn-sm">
                    </div>
                    <div>
                        <input type="button" value="Reporte" class="btn btn-secondary btn-sm" onclick="exportPDF('Ausencias @ViewBag.Nombre')" />
                    </div>
                </div>
                <table id="table" class="table table-bordered table-hover">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Motivo</th>
                            <th>Fecha salida</th>
                            <th>Fecha regreso</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="contenidoTabla">
                        @foreach (Entidad.Ausencia a in ViewBag.Lista)
                        {
                            <tr>
                                <td>@a.TC_Tipo_Ausencia</td>
                                <td>@a.TF_Fecha_Salida</td>
                                <td>@a.TF_Fecha_Regreso</td>

                                <td class="d-flex justify-content-center">
                                    <a data-toggle="modal" data-target="#modal-editar" onclick="prepararEditAusencia(@a.TN_Id_Ausencia)"> <i class="fas fa-edit text-dark pointer" style="font-size: 1.2em;"></i></a>
                                    <a onclick="eliminarAusencia(@a.TN_Id_Ausencia)" > <i class="fas fa-trash text-dark pointer" style="font-size: 1.2em;"></i></a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @Html.Partial("_Footer");

</body>
</html>








<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Ausencia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="return ActualizarAusencia();">
                <input type="hidden" id="hiddenAusID" value="" />
                <div class="modal-body">
                    <div class="form-group ">
                        <label class="font-weight-normal" for="arango">Fecha de salida:</label>
                        <input type="text" class="form-control form-control-sm" id="arangoAusencias" name="arango" onkeypress="return false;" required>
                        <script>
                            $('#arangoAusencias').daterangepicker({
                                locale: {
                                    format: 'YYYY/MM/DD'
                                }
                            });
                            $('#arangoAusencias').val('');
                            $('#arangoAusencias').attr("placeholder", "Rango de Fechas");
                        </script>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="amotivo">Motivo:</label>
                        <select class="form-control form-control-sm" id="amotivo" required>
                            @foreach (Entidad.TipoAusencia t in ViewBag.Tipos)
                            {
                                <option value="@t.TN_Id_Tipo_Ausencia">@t.TC_Tipo_Ausencia</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>

                        <input type="submit" class="btn btn-info" value="Editar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


