
@{
    ViewBag.Title = "Catálogo Puestos";
}

<script type="text/javascript" src="~/Scripts/js/jspdf.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/ReportesPDF.js"></script>
<script type="text/javascript" src="~/Scripts/js/jspdf.plugin.autotable.min.js"></script>

<div class="container">
    <div class="row mt-2">
        <h3 id="tituloReportes">@ViewBag.Message</h3>
    </div>


    <div class="row justify-content-center">
        <div class="col-6 mt-2 ">
            <div class="card" style="background-color: #FAFAFA">
                <div class="card-header">
                    <h5 class="card-tittle">Añadir nuevo puesto</h5>
                </div>

                <div class="card-body">
                    <form onsubmit="return agregarPuesto(this)">
                        <div class="row justify-content-between">
                            <div class="form-group d-flex justify-content-between">
                                <label class="font-weight-normal" for="nombre">Nombre:</label>
                                <input type="text" class="form-control form-control-sm" id="nombre" plaeclaceholder="Ingrese nombre del puesto" required minlength="2" maxlength="20" pattern="[A-Za-z0-9\s]+">
                            </div>
                            <div class="form-group d-flex justify-content-between">
                                <label class="font-weight-normal" for="salario">Salario:</label>
                                <input type="text" class="form-control form-control-sm" id="salario" plaeclaceholder="Ingrese salario" required minlength="2" maxlength="20" pattern="[0-9]+">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-2">
                            <input type="submit" class="btn btn-primary btn-sm" value="Guardar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






    <div class="row mt-3">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <div class="col-6">
                    <input type="search" id="searchInput" placeholder="Buscar" class="form-control form-control-sm">
                </div>
                <div>
                    <input type="button" value="Reporte" class="btn btn-secondary btn-sm" onclick="exportPDF('Catálogo Puestos')" />
                </div>
            </div>
            <table id="table" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Nombre</th>
                        <th>Salario</th>
                        <th id="acc">Acciones</th>
                    </tr>
                </thead>
                <tbody id="contenidoTabla">
                    @foreach (var item in ViewBag.ListaCatalogoPuestos)
                    {
                        <tr>
                            <td>@item.TC_Nombre_Puesto</td>
                            <td>@item.TN_Salario_Horario</td>
                            <td>
                                <div class="d-flex justify-content-center">
                                    <a onclick="cargarEditPuesto('@item.TN_Id_Puesto')" data-toggle="modal" data-target="#modal-editar" href="#"> <i class="fas fa-edit text-dark" style="font-size: 1.2em;"></i></a>
                                    <a onclick="eliminarPuesto('@item.TN_Id_Puesto')" href="#"> <i class="fas fa-trash text-dark" style="font-size: 1.2em;"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <form onsubmit="return editarCircuito()">
                <div class="modal-header">
                    <h4 class="modal-title">Modificar Puesto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="idEdit">
                    <div class="form-group d-flex justify-content-between">
                        <label class="font-weight-normal" for="nombreM">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="nombreEdit" required minlength="2" maxlength="20" pattern="[A-Za-z0-9\s]+">
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <label class="font-weight-normal" for="puestoM">Puesto:</label>
                        <input type="text" class="form-control form-control-sm" id="salarioEdit" required minlength="2" maxlength="20" pattern="[0-9]+">
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <input type="submit" class="btn btn-info" value="Editar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

