<!-- Footer -->
<footer class="page-footer font-small">

    <div class="footer-copyright text-center py-3">
        Copyright ©Plataforma de información judicial, 2020
    </div>

</footer>
<!-- Footer -->
@* --------------------------------Scripts--------------------------------*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/pooper")
@Scripts.Render("~/bundles/adminltejs")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/ajax")
@Scripts.Render("~/bundles/sweetalert2")
@Scripts.Render("~/bundles/daterangepicker")
@Scripts.Render("~/bundles/scripts")

<script type="text/javascript" src="~/Scripts/js/jspdf.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/scriptsHistoricoTiemposHorarios.js"></script>
<script type="text/javascript" src="~/Scripts/js/ReportesPDF.js"></script>
<script type="text/javascript" src="~/Scripts/js/jspdf.plugin.autotable.min.js"></script>

@Scripts.Render("~/bundles/scripts")






@* --------------------------------------------------------------------------*@