@{
    ViewBag.Title = "Horarios de ";

    string formatDay = "dd-MM-yyyy";
    string formatHour = "HH:mm:ss";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>


    @Html.Partial("_Header_Admin")

    <div class="container flex-column">
        <h3 id="tituloReportes">@ViewBag.Title@ViewBag.Message</h3>


        <div class="row justify-content-between ">

            <div class="container mt-5 col-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-tittle">Marcar Horario</h5>
                    </div>

                    <div class="card-body">
                        <div>
                            <label class="font-weight-normal"><i class="far fa-calendar-alt"></i>Fecha actual: @DateTime.Now.ToString(formatDay) &nbsp </label>&nbsp
                            <label class="font-weight-normal"><i class="far fa-clock"></i> Hora actual: @DateTime.Now.ToString(formatHour) </label>
                        </div>
                        <div>
                            <label class="font-weight-normal">Seleccione un tiempo:</label>
                            <div class="border border-secondary nav-pills" style="background-color: #f6f6f6">
                                <form name="tiemposF">
                                    @foreach (Entidad.Horario temp in ViewBag.listaHorario)
                                    {
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="radio" id="@temp.TN_Id_Horario" value="@temp.TC_Horario" class="form-check-input" name="optradio">@temp.TC_Horario
                                            </label>
                                        </div>
                                    }
                                </form>
                            </div>

                        </div>

                        <div class="row justify-content-center mt-2">
                            <button id="botonG" type="button" class="btn btn-primary btn-sm" onclick="registrarTiemposEmpleadoByAdmin()">Guardar</button>
                        </div>
                        <br /> <span id="respuesta"></span>
                    </div>
                </div>
            </div>


            <div class="container col-6">
                <div>
                    <div class="d-flex justify-content-between mt-3">
                        <div class="flex-column">
                            <div class="d-flex flex-wrap">
                                <div class="form-group ">
                                    <label class="font-weight-normal" for="fecha">Fecha:</label>
                                    <input type="date" class="form-control form-control-sm" id="fechaFiltroHrario" />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-normal" for="tiempo">Tiempo laboral:</label>

                                    <select class="form-control form-control-sm" id="registroFiltro">
                                        <option value="0"></option>
                                        @foreach (Entidad.Horario item in ViewBag.ListaHorario)
                                        {
                                            <option id="@item.TN_Id_Horario">@item.TC_Horario</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="row justify-content-start">
                                <input type="button" value="Filtrar" class="btn btn-info btn-sm" onclick="filtrarHorarios(2, 1)" />
                                <input type="button" value="Limpiar" class="btn btn-danger btn-sm" onclick="vaciarFiltroHorario(0)" />
                            </div>
                        </div>
                        <div class="align-self-end">
                            <input type="button" value="Reporte" class="btn btn-secondary btn-sm" onclick="exportPDF('Horarios de @ViewBag.Message')" />
                        </div>
                    </div>
                    <table id="table" class="table table-bordered table-hover">
                        <thead class="thead-dark text-center">
                            <tr>
                                <th>Código</th>
                                <th>Registro</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th id="acc">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="contenidoTabla">
                            @foreach (Entidad.Tiempo temp in ViewBag.listaTiempo)
                            {
                            <tr>
                                <td>@temp.TN_Id_Tiempo</td>
                                <td>@temp.TC_Horario</td>
                                <td>@temp.TF_Fecha</td>
                                <td>@temp.TH_Hora</td>
                                <td class="d-flex justify-content-center">
                                    <a data-toggle="modal" data-target="#modal-editar" onclick="cargarModalListaHorarioEmpleadoAdmin('@temp.TN_Id_Tiempo', '@temp.TN_Id_Usuario', '@temp.TN_Id_Horario', '@temp.TF_Fecha', '@temp.TH_Hora', '@temp.TC_Horario')"> <i class="fas fa-edit text-dark pointer" style="font-size: 1.2em;"></i></a>
                                    <a onclick="eliminarListaHorarioEmpleadoAdmin(@temp.TN_Id_Tiempo)"> <i class="fas fa-trash text-dark pointer" style="font-size: 1.2em;"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
        @Html.Partial("_Footer")

</body>
</html>









<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Tiempo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <div class="form-group ">
                    <label class="font-weight-normal" for="fecha">Fecha:</label>
                    <input type="date" class="form-control form-control-sm" id="fechaEdit" value="" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="hora">Hora:</label>
                    <input type="time" class="form-control form-control-sm" id="horaEdit" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="tiempo">Tiempo laboral:</label>
                    <select class="form-control form-control-sm" id="tiempoEdit" required>
                        @foreach (Entidad.Horario item in ViewBag.listaHorario)
                        {
                            <option id="@item.TN_Id_Horario">@item.TC_Horario</option>
                        }
                    </select>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <div>
                    <button class="btn btn-info" onclick="editarListaHorarioEmpleadoAdmin()">Editar</button>
                </div>
            </div>
        </div>
    </div>
</div>