
@{
    ViewBag.Title = "Empleados";
}


<div class="container">
    <div class="row mt-2">
        <h3>@ViewBag.Message</h3>
    </div>




    <div class="row mt-3">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <div class="col-6">
                    <input type="search" id="searchInput" placeholder="Buscar" class="form-control form-control-sm">
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-agregar"><i class="fa fa-plus-square"></i> Nuevo</button>
                    <input type="button" value="Reporte" class="btn btn-secondary btn-sm">
                </div>
            </div>
            <table id="example1" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido 1</th>
                        <th>Apellido 2</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Tipo de usuario</th>
                        <th>Puesto</th>
                        <th>Oficina</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="contenidoTabla">
                    <tr>
                        <td>1231</td>
                        <td>Juanito</td>
                        <td>Montero</td>
                        <td>Peréz</td>
                        <td>juenito@gmail.com</td>
                        <td>Activo</td>
                        <td>Usuario 1</td>
                        <td>Puesto 1</td>
                        <td>Oficina 1</td>
                        <td class="d-flex justify-content-center">
                            <a onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Horarios")'"> <i class="fas fa-business-time text-dark" style="font-size: 1.2em;"></i></a>
                            <a onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Ausencias")'"> <i class="fas fa-calendar-times text-dark" style="font-size: 1.2em;"></i></a>
                            <a data-toggle="modal" data-target="#modal-editar" href="#"> <i class="fas fa-edit text-dark" style="font-size: 1.2em;"></i></a>
                            <a onclick="eliminar('¿Seguro?','Está acción es irreversible')" href="#"> <i class="fas fa-trash text-dark" style="font-size: 1.2em;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>1232</td>
                        <td>Ana</td>
                        <td>Peréz</td>
                        <td>Mendéz</td>
                        <td>ana@gmail.com</td>
                        <td>Activo</td>
                        <td>Usuario 1</td>
                        <td>Puesto 1</td>
                        <td>Oficina 1</td>
                        <td class="d-flex justify-content-center">
                            <a onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Horarios")'"> <i class="fas fa-business-time text-dark" style="font-size: 1.2em;"></i></a>
                            <a onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Ausencias")'"> <i class="fas fa-calendar-times text-dark" style="font-size: 1.2em;"></i></a>
                            <a data-toggle="modal" data-target="#modal-editar" href="#"> <i class="fas fa-edit text-dark" style="font-size: 1.2em;"></i></a>
                            <a onclick="eliminar('¿Seguro?','Está acción es irreversible')" href="#"> <i class="fas fa-trash text-dark" style="font-size: 1.2em;"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>12313</td>
                        <td>Pedro</td>
                        <td>Montero</td>
                        <td>Villalobos</td>
                        <td>pedro@gmail.com</td>
                        <td>Activo</td>
                        <td>Usuario 1</td>
                        <td>Puesto 1</td>
                        <td>Oficina 1</td>
                        <td class="d-flex justify-content-center">
                            <a onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Horarios")'"> <i class="fas fa-business-time text-dark" style="font-size: 1.2em;"></i></a>
                            <a onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Ausencias")'"> <i class="fas fa-calendar-times text-dark" style="font-size: 1.2em;"></i></a>
                            <a data-toggle="modal" data-target="#modal-editar" href="#"> <i class="fas fa-edit text-dark" style="font-size: 1.2em;"></i></a>
                            <a onclick="eliminar('¿Seguro?','Está acción es irreversible')" href="#"> <i class="fas fa-trash text-dark" style="font-size: 1.2em;"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>








<!-- Modal de agregar -->


<div class="modal fade" id="modal-agregar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Añadir nueva empleado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="font-weight-normal" for="cedula">Cédula:</label>
                    <input type="text" class="form-control form-control-sm" id="cedula" placelaceholder="Ingrese cédula" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="nombre">Nombre:</label>
                    <input type="text" class="form-control form-control-sm" id="nombre" placelaceholder="Ingrese nombre" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="apUno">Primer apellido:</label>
                    <input type="text" class="form-control form-control-sm" id="apUno" placelaceholder="Ingrese primer apellido" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="apDos">Segundo apellido:</label>
                    <input type="text" class="form-control form-control-sm" id="apDos" placelaceholder="Ingrese segundo apellido" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="correo">Correo:</label>
                    <input type="text" class="form-control form-control-sm" id="correo" placelaceholder="Ingrese correo" required>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="tipo">Tipo de usuario:</label>
                    <select class="form-control form-control-sm" id="tipo">
                        <option value="Estándar">Estándar </option>
                        <option value="Administrador">Administrador</option>
                        <option value="Jefatura">Jefatura</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="estado">Estado de usuario:</label>
                    <select class="form-control form-control-sm" id="estado">
                        <option>Activo</option>
                        <option>Inactivo</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="puesto">Puesto:</label>
                    <select class="form-control form-control-sm" id="puesto">
                        <option>Puesto 1</option>
                        <option>Puesto 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-normal" for="oficina">Oficina:</label>
                    <select class="form-control form-control-sm" id="oficina">
                        <option>Oficina 1</option>
                        <option>Oficina 2</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <div>
                    <button type="button" class="btn btn-info" onclick="alertDatosValidos()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Empleado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-normal" for="cedula">Cédula:</label>
                        <input type="text" class="form-control form-control-sm" id="cedula" placelaceholder="Ingrese cédula" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="nombre">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" placelaceholder="Ingrese nombre" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="apUno">Primer apellido:</label>
                        <input type="text" class="form-control form-control-sm" id="apUno" placelaceholder="Ingrese primer apellido" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="apDos">Segundo apellido:</label>
                        <input type="text" class="form-control form-control-sm" id="apDos" placelaceholder="Ingrese segundo apellido" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="correo">Correo:</label>
                        <input type="text" class="form-control form-control-sm" id="correo" placelaceholder="Ingrese correo" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="tipo">Tipo de usuario:</label>
                        <select class="form-control form-control-sm" id="tipo">
                            <option>Usuario 1</option>
                            <option>Usuario 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="estado">Estado de usuario:</label>
                        <select class="form-control form-control-sm" id="estado">
                            <option>Activo</option>
                            <option>Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="puesto">Puesto:</label>
                        <select class="form-control form-control-sm" id="puesto">
                            <option>Puesto 1</option>
                            <option>Puesto 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="oficina">Oficina:</label>
                        <select class="form-control form-control-sm" id="oficina">
                            <option>Oficina 1</option>
                            <option>Oficina 2</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <input type="submit" class="btn btn-info" value="Editar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



