
@{
    ViewBag.Title = "Empleados";
}


<div class="container">
    <div class="row mt-2">
        <h3>@ViewBag.Message</h3>
    </div>




    <div class="row mt-3">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <div class="col-6">
                    <input type="search" id="searchInput" placeholder="Buscar" class="form-control form-control-sm">
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-agregar"><i class="fa fa-plus-square"></i> Nuevo</button>
                    <input type="button" value="Reporte" class="btn btn-secondary btn-sm">
                </div>
            </div>
            <table id="table" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido 1</th>
                        <th>Apellido 2</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Tipo de usuario</th>
                        <th>Puesto</th>
                        <th>Oficina</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="contenidoTabla">
                    @foreach (Entidad.Empleado e in ViewBag.Lista)
                    {
                    <tr>
                        <td>@e.TC_Identificacion</td>
                        <td>@e.TC_Nombre_Usuario</td>
                        <td>@e.TC_Primer_Apellido</td>
                        <td>@e.TC_Segundo_Apellido</td>
                        <td>@e.TC_Correo</td>
                        @if (e.TB_Activo.Equals(1))
                        {
                            <td>Activo</td>
                        }
                        else
                        {
                            <td>Inactivo</td>
                        }

                        <td>@e.TC_Tipo_Usuario</td>
                        <td>@e.TC_Nombre_Puesto</td>
                        <td>@e.TC_Nombre_Oficina</td>
                        <td class="d-flex justify-content-center">
                            
                            <a class="ml-1" onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Horarios")'" title="Tiempo de horarios" href="#">
                            <i class="fas fa-business-time text-dark" style="font-size: 1.2em;"></i></a>
                            <a class="ml-1" onclick="location.href='@Url.Action("Listar_de_Admin", "Empleado_Ausencias")'" title="Tiempo de ausencias" href="#"><i class="fas fa-calendar-times text-dark" style="font-size: 1.2em;"></i></a>
                            
                            <a class="ml-1" data-toggle="modal" data-target="#modal-editar" onclick="prepararEdit(@e.TN_Id_Usuario)" href="#" title="Editar empleado"> <i class="fas fa-edit text-info" style="font-size: 1.2em;"></i></a>
                            <a class="ml-1" onclick="eliminarEmpleado(@e.TN_Id_Usuario)" title="Eliminar empleado" href="#"> <i class="fas fa-trash text-red" style="font-size: 1.2em;"></i></a>
                        </td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>








<!-- Modal de agregar -->


<div class="modal fade" id="modal-agregar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Añadir nueva empleado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="return insertarEmpleado(this)">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-normal" for="usuario">Usuario:</label>
                        <input type="text" class="form-control form-control-sm" id="usuario" name="usuario" placelaceholder="Ingrese usuario" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="password">Contraseña:</label>
                        <input type="text" class="form-control form-control-sm" id="password" name="password" placelaceholder="Ingrese contraseña" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="cedula">Cédula:</label>
                        <input type="text" class="form-control form-control-sm" id="cedula" name="cedula" placelaceholder="Ingrese cédula" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="nombre">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placelaceholder="Ingrese nombre" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="apUno">Primer apellido:</label>
                        <input type="text" class="form-control form-control-sm" id="apUno" name="apUno" placelaceholder="Ingrese primer apellido" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="apDos">Segundo apellido:</label>
                        <input type="text" class="form-control form-control-sm" id="apDos" name="apDos" placelaceholder="Ingrese segundo apellido" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="correo">Correo:</label>
                        <input type="text" class="form-control form-control-sm" id="correo" name="correo" placelaceholder="Ingrese correo" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="tipo">Tipo de usuario:</label>
                        <select class="form-control form-control-sm" id="tipo" name="tipo">
                            <option value="Estándar">Estándar </option>
                            <option value="Administración">Administrador</option>
                            <option value="Jefatura">Jefatura</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="estado">Estado de usuario:</label>
                        <select class="form-control form-control-sm" id="estado" name="estado">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="puesto">Puesto:</label>
                        <select class="form-control form-control-sm" id="puesto" name="puesto">
                            @foreach (Entidad.Puesto e in ViewBag.Puestos)
                            {
                                <option value="@e.TN_Id_Puesto">@e.TC_Nombre_Puesto</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="oficina">Oficina:</label>
                        <select class="form-control form-control-sm" id="oficina" name="oficina">
                            @foreach (Entidad.Oficina o in ViewBag.Oficinas)
                            {
                                <option value="@o.TN_Id_Oficina">@o.TC_Nombre_Oficina</option>
                            }
                        </select>
                    </div>

                </div>

                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <input type="submit" class="btn btn-info" value="Agregar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>







<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Empleado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form onsubmit="return actualizarEmpleado(this)">
                <input type="hidden" id="hiddenID" value=""/>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="font-weight-normal" for="cedula">Cédula:</label>
                        <input type="text" class="form-control form-control-sm" id="acedula" placelaceholder="Ingrese cédula" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="nombre">Nombre:</label>
                        <input type="text" class="form-control form-control-sm" id="anombre" placelaceholder="Ingrese nombre" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="apUno">Primer apellido:</label>
                        <input type="text" class="form-control form-control-sm" id="aapUno" placelaceholder="Ingrese primer apellido" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="apDos">Segundo apellido:</label>
                        <input type="text" class="form-control form-control-sm" id="aapDos" placelaceholder="Ingrese segundo apellido" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="correo">Correo:</label>
                        <input type="text" class="form-control form-control-sm" id="acorreo" placelaceholder="Ingrese correo" required>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="tipo">Tipo de usuario:</label>
                        <select class="form-control form-control-sm" id="atipo">
                            <option value="Estándar">Estándar </option>
                            <option value="Administración">Administrador</option>
                            <option value="Jefatura">Jefatura</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="estado">Estado de usuario:</label>
                        <select class="form-control form-control-sm" id="aestado">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="puesto">Puesto:</label>
                        <select class="form-control form-control-sm" id="apuesto">
                            @foreach (Entidad.Puesto e in ViewBag.Puestos)
                            {
                                <option value="@e.TN_Id_Puesto">@e.TC_Nombre_Puesto</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-normal" for="oficina">Oficina:</label>
                        <select class="form-control form-control-sm" id="aoficina">
                            @foreach (Entidad.Oficina o in ViewBag.Oficinas)
                            {
                                <option value="@o.TN_Id_Oficina">@o.TC_Nombre_Oficina</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <input type="submit" class="btn btn-info" value="Editar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



