
@{
    ViewBag.Title = "Catálogo Tiempos Laborales";
}

<script type="text/javascript" src="~/Scripts/js/jspdf.min.js"></script>
<script type="text/javascript" src="~/Scripts/js/ReportesPDF.js"></script>
<script type="text/javascript" src="~/Scripts/js/jspdf.plugin.autotable.min.js"></script>

<div class="container">
    <div class="row mt-2">
        <h3 id="tituloReportes">@ViewBag.Message</h3>
    </div>


    <div class="row justify-content-center">
        <div class="col-6 mt-2 ">
            <div class="card" style="background-color: #FAFAFA">
                <div class="card-header">
                    <h5 class="card-tittle">Añadir nuevo tiempo laboral</h5>
                </div>

                <div class="card-body">
                    <form action="@Url.Action("Agregar", "Catalogo_Tiempos_Laborales")" method="post">
                        <div class="form-group d-flex justify-content-between">
                            <label class="font-weight-normal" for="horario">Tipo:</label>
                            <input type="text" class="form-control form-control-sm" id="horario" name="horario" placeholder="Ingrese el tipo de tiempo" required>
                        </div>

                        <div class="row justify-content-center mt-2">
                            <button class="btn btn-primary btn-sm" id="botonHorario" type="submit">Guardar</button>
                        </div>
                    </form>
                    <span>@ViewBag.Respuesta</span>
                    <span id="respuesta"></span>
                </div>
            </div>
        </div>
    </div>






    <div class="row mt-3">
        <div class="col-12">
            <div class="d-flex justify-content-between mt-3">
                <div class="col-6">
                    <input type="search" id="search" placeholder="Buscar" class="form-control form-control-sm">
                </div>
                <div>
                    <input type="button" value="Reporte" class="btn btn-secondary btn-sm" onclick="exportPDF('Catálogo Tiempos Laborales')" />
                </div>
            </div>
            <table id="table" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>

                @model Entidad.Horario
                <tbody id="contenidoTabla">
                    @foreach (Entidad.Horario temp in ViewBag.ListaTiempos)
                    {

                        <tr>
                            <td>@temp.TC_Horario</td>
                            <td class="d-flex justify-content-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button id="@temp.TC_Horario" type="button" class="btn btn-success btn-sm" onclick="editMyModal(this)" data-toggle="modal" data-target="#modal-editar"><i class="fa fa-pencil-square" style="font-size:36px;"></i> </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button id="@temp.TC_Horario" class="btn btn-danger btn-sm" onclick="alertAdvertenciaEliminarTiempos(this)"><i class="fa fa-trash" style="font-size:36px;"></i> </button>
                                    </div>
                                </div>


                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>









<!-- Modal de editar -->


<div class="modal fade" id="modal-editar">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Modificar tiempo laboral</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group ">
                        <label class="font-weight-normal" for="tipoM">Tipo:</label>
                        <input type="text" class="form-control form-control-sm" id="tipoM" required>
                    </div>

                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <div>
                        <input type="submit" class="btn btn-info" value="Editar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




