@{
    ViewBag.Title = "Horarios de";

    string formatDay = "dd-MM-yyyy";
    string formatHour = "HH:mm:ss";
}


<div class="container flex-column">
    <h3>@ViewBag.Title</h3>
    <h5 class="text-secondary">@ViewBag.Message</h5>
</div>

<div class="row justify-content-around ">

    <div class="container mt-5 col-3">
        <div class="card">
            <div class="card-header">
                <h5 class="card-tittle">Marcar Horario</h5>
            </div>

            <div class="card-body">
                <div>
                    <label class="font-weight-normal"><i class="far fa-calendar-alt"></i>Fecha actual: @DateTime.Now.ToString(formatDay) &nbsp </label>&nbsp
                    <label class="font-weight-normal"><i class="far fa-clock"></i> Hora actual: @DateTime.Now.ToString(formatHour) </label>
                </div>
                <div>
                    <label class="font-weight-normal">Seleccione un tiempo:</label>
                    <div class="border border-secondary nav-pills" style="background-color: #f6f6f6">
                        <form name="tiemposF">
                            @foreach (Entidad.Horario temp in ViewBag.listaHorario)
                            {
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" id="@temp.TN_Id_Horario" value="@temp.TC_Horario" class="form-check-input" name="optradio">@temp.TC_Horario
                                    </label>
                                </div>
                            }
                        </form>
                    </div>

                </div>

                <div class="row justify-content-center mt-2">
                    <button id="botonG" type="button" class="btn btn-primary btn-sm" onclick="registrarTiemposEmpleadoByAdmin()">Guardar</button>
                </div>
                <br /> <span id="respuesta"></span>
            </div>
        </div>
    </div>


    <div class="container col-6">
        <div>
            <div class="d-flex justify-content-between mt-3">
                <div class="col-6">
                    <input type="button" value="Filtrar" class="btn btn-info btn-sm">
                    <input type="button" value="Limpiar" class="btn btn-danger btn-sm">
                </div>
                <div>
                    <input type="button" value="Reporte" class="btn btn-secondary">
                </div>
            </div>
            <table id="table" class="table table-bordered table-hover">
                <thead class="thead-dark text-center">
                    <tr>
                        <th>Registro</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="contenidoTabla">
                    @foreach (Entidad.Tiempo temp in ViewBag.listaTiempo)
                    {
                        <tr>
                            <td>@temp.TC_Horario</td>
                            <td>@temp.TF_Fecha</td>
                            <td>@temp.TH_Hora</td>
                            <td class="d-flex justify-content-center">
                                <a data-toggle="modal" data-target="#modal-editar" href="#"> <i class="fas fa-edit text-dark" style="font-size: 1.2em;"></i></a>
                                <a onclick="eliminar('¿Seguro?','Está acción es irreversible')" href="#"> <i class="fas fa-trash text-dark" style="font-size: 1.2em;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>










    <!-- Modal de editar -->


    <div class="modal fade" id="modal-editar">
        <div class="modal-dialog">
            <form>
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar Ausencia</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group ">
                            <label class="font-weight-normal" for="salida">Fecha de salida:</label>
                            <input type="date" class="form-control form-control-sm" id="salida" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="regreso">Fecha de regreso:</label>
                            <input type="date" class="form-control form-control-sm" id="regreso" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-normal" for="motivo">Motivo:</label>
                            <select class="form-control form-control-sm" id="motivo">
                                <option selected="selected">Enfermedad</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <div>
                            <input type="submit" value="Editar" class="btn btn-info" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


